## Creating DataFrame:

In [5]:
# Importing the dependencies
import numpy as np, pandas as pd

#### Creating a DataFrame using Python Dictionary :

#### From a dictionary with index  :

In [3]:
# Createa dictionary called my_dict
my_dict = {'A': 22, 'B':0, "D":-45,"C":55, 'E':36}
# Print my_dict variable attributes
print('\nList of keys in my_dict:')   # using "\n" at begning of the string to skip line
print(my_dict.keys())
print('\nList of values in my_dict:')
print(my_dict.values())
print('\nList of key value pair in my_dict:')
for k, v in my_dict.items():
    print(k,':',v)

List of keys in my_dict:
dict_keys(['A', 'B', 'D', 'C', 'E'])

List of values in my_dict:
dict_values([22, 0, -45, 55, 36])

List of key value pair in my_dict:
A : 22
B : 0
D : -45
C : 55
E : 36

In [6]:
# Create DataFrame using my_dict
my_dict_df = pd.DataFrame(my_dict, index=['one', 'two'])
# Print my_dict_df
my_dict_df

      A  B   D   C   E
one  22  0 -45  55  36
two  22  0 -45  55  36

#### From a dictionary of list :

In [7]:
# Create a dictionary of list
cook_book = {'A':[2, -3, 6, 34, 41], 'B':['', -21, -7, 0, 55], 'D':[11, -72, 24, 30, -1]}
# Genarate a DataFrame using the dictionary
cook_book_df = pd.DataFrame(cook_book)
#Print the DataFrame
cook_book_df

    A    B   D
0   2       11
1  -3  -21 -72
2   6   -7  24
3  34    0  30
4  41   55  -1

#### From list of dictionaries :

In [5]:
# Create a list of dictionaries
list_of_dict = [{'a':1, 'b':3, 'c':''}, {'a':-2, 'b':77, 'c':4},{'a':0, 'b':5, 'c':-3}]
# Create a dataframe using the list
df = pd.DataFrame(list_of_dict)
# Print the DataFrame
df

   a   b   c
0  1   3
1 -2  77   4
2  0   5  -3

#### From dictionaies containing Series as values :

In [6]:
# Create a dictionary containing a Series as values
series_dict = {'one': pd.Series([1, 2, -9, 33], index=list('abcd')),
               'two': pd.Series([333, 0, 57, 12], index=list('abcd'))}
series_dict_df = pd.DataFrame(series_dict)
series_dict_df

   one  two
a    1  333
b    2    0
c   -9   57
d   33   12

#### From dictionary of tuple multi-index :

In [7]:
# Create a dictionary of tuples
tuple_dict = {('a', 'b'):{('A', 'B'):1, ('A', 'C'):2},
              ('a', 'a'):{('A', 'C'):3, ("A", 'B'):4},
              ("a", "c"):{("A", 'B'):5, ("A", "C"):6},
              ("b", "a"):{("A", "C"):7, ("A", "B"):8},
              ("b", 'b'):{("A", "D"):9, ("A", "B"):10}}
print('\nList of tuple key values :')
print(tuple_dict.keys())
# Create a DataFrame using tuple_dict
tuple_dict_df = pd.DataFrame(tuple_dict)
print('\nDataFame of from dictionary of tuple multi-index:') 
tuple_dict_df

List of tuple key values :
dict_keys([('a', 'b'), ('a', 'a'), ('a', 'c'), ('b', 'a'), ('b', 'b')])

DataFame of from dictionary of tuple multi-index:

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

## Select, add, delete.

In [8]:
# Let's take a look at the data again
data = pd.DataFrame(np.random.randn(5, 3), columns=list('ABD'))
data

          A         B         D
0 -0.555127  0.334867  0.134895
1 -0.958448 -1.079445 -0.833998
2 -1.526807 -1.133996  0.301482
3  0.543226 -0.414859 -0.786433
4 -1.146825  0.505373  0.359173

#### List of columns in my_dict_df :

In [9]:
data.columns

Index(['A', 'B', 'D'], dtype='object')

#### Select a column of the DataFrame :

In [10]:
data['A']

0   -0.555127
1   -0.958448
2   -1.526807
3    0.543226
4   -1.146825
Name: A, dtype: float64

#### Select using index :

In [11]:
# Selecting rows
data.iloc[:2, :]

          A         B         D
0 -0.555127  0.334867  0.134895
1 -0.958448 -1.079445 -0.833998

In [12]:
# Selecting a column
data.iloc[:, 0]

0   -0.555127
1   -0.958448
2   -1.526807
3    0.543226
4   -1.146825
Name: A, dtype: float64

In [13]:
data.A

0   -0.555127
1   -0.958448
2   -1.526807
3    0.543226
4   -1.146825
Name: A, dtype: float64

#### Arthmetic vectorized using a string :

In [14]:
data['A'] * cook_book_df.D

0    -6.106400
1    69.008243
2   -36.643362
3    16.296777
4     1.146825
dtype: float64

#### Arithmetic vectorized operation using add, sub...etc :

In [16]:
data["A"].sub(data['D'])

0   -0.690022
1   -0.124450
2   -1.828289
3    1.329659
4   -1.505998
dtype: float64

In [17]:
# using add method
data.B.add(data.A)

0   -0.220261
1   -2.037892
2   -2.660802
3    0.128367
4   -0.641452
dtype: float64

In [19]:
# multiplication
data.D.mul(data.A)

0   -0.074884
1    0.799344
2   -0.460304
3   -0.427211
4   -0.411908
dtype: float64

#### Deleting a column :

In [20]:
# note that pop and drop are used to delete a column as well
del data['A']
data

          B         D
0  0.334867  0.134895
1 -1.079445 -0.833998
2 -1.133996  0.301482
3 -0.414859 -0.786433
4  0.505373  0.359173

#### Adding a column :


##### Using a scalar :

In [21]:
data['C'] = 5
data

          B         D  C
0  0.334867  0.134895  5
1 -1.079445 -0.833998  5
2 -1.133996  0.301482  5
3 -0.414859 -0.786433  5
4  0.505373  0.359173  5

#### Using a list :

In [22]:
data['E'] = [-1, 52, 66, 0, 8]
data

          B         D  C   E
0  0.334867  0.134895  5  -1
1 -1.079445 -0.833998  5  52
2 -1.133996  0.301482  5  66
3 -0.414859 -0.786433  5   0
4  0.505373  0.359173  5   8

#### Using insert method :

In [23]:
data.insert(0, 'A', [2, -3, 6, 34, 41])
data

    A         B         D  C   E
0   2  0.334867  0.134895  5  -1
1  -3 -1.079445 -0.833998  5  52
2   6 -1.133996  0.301482  5  66
3  34 -0.414859 -0.786433  5   0
4  41  0.505373  0.359173  5   8